
/* #region debug */

.debug .wrapper{
    background-color: red;
}

.debug .main-container{
    background-color: orange;
}

.debug .sidebar{
    background-color: rgba(0, 128, 0, 0.553);
}

.debug .container{
    background-color: blueviolet;
}

.debug .topbar{
    background-color: rgb(149, 255, 0);
}

.debug .toolbar{
    background-color: rgba(0, 0, 255);
}

.debug .col-2{
    background-color: aqua;
    height: 100%;
    border: 2px solid blue;
}

/* #endregion debug */



/* #region utility */

.flex{
    display: flex;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.fixed{
    position: fixed;
}

/* #endregion utility */



/* #region common */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --dark-blue: rgb(20, 25, 34);
    --dark-gray: rgb(40, 40, 40);
    --gray: rgb(123, 125, 129);
    --light-gray: rgb(210, 210, 210);
    --green: rgb(177, 247, 46);
}

body{
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    height: 100vh;
}

.top-container{
    width: 100%;
    height: calc(100% - 80px);
}

.main-container{
    width: calc(100% - 250px);
    padding-top: 80px;
    overflow: auto;
    background-color: var(--dark-blue);
}

.container{
    width: 95%;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
    text-align: center;
}

[class^="col-"]{
    padding: 0.5rem;
}

.col-2{
    width: calc((100% / 12) * 2);
}

/* #endregion common */



/* #region sidebar */

.sidebar{
    width: 250px;
    height: 100%;
    overflow: hidden;
    background-color: var(--black);
    color: var(--gray);

    & .logo{
        width: 150px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    & nav svg{
        width: 35px;
        display: block;
        padding-right: 0.5rem;
    }

    & nav .icon-white{
        top: 0;
        left: 0;
    }

    & nav .icon-gray:hover{
        display: none;
    }
    
    & nav .icon-white:hover{
        display: block;
    }

    & ul li{
        list-style: none;
        padding: 0.25rem 1rem;
    }

    & ul li a{
        text-decoration: none;
        color: var(--gray);
        align-items: center;
    }

    & nav ul li:hover{
        border-left: 2px solid var(--green);
    }
    
    & ul li a:hover{
        color: var(--white);
    }







    & .bottom-sidebar{
        bottom: 0;
    }
}

/* #endregion sidebar */



/* #region topbar */

.topbar{
    width: calc(100% - 250px);
    height: 80px;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.401);

    & .upgrade{
        background-color: red;
        color: black;
        font-size: 16px;
    }
}

/* #endregion topbar */



/* #region main */

main{

    & .top-main ul{
        justify-content: center;
    }

    & img{
        width: 100%;
    }
}

/* #endregion main */



/* #region toolbar */

.toolbar{
    height: 80px;
    width: 100%;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-gray);

}

/* #endregion toolbar */
