
/* #region debug */

.debug .wrapper{
    background-color: red;
}

.debug .main-container{
    background-color: orange;
}

.debug .sidebar{
    background-color: rgba(0, 128, 0, 0.553);
}

.debug .container{
    background-color: blueviolet;
}

.debug .topbar{
    background-color: rgb(149, 255, 0);
}

.debug .toolbar{
    background-color: rgba(0, 0, 255);
}

.debug .col-2{
    background-color: aqua;
    height: 100%;
    border: 2px solid blue;
}

/* #endregion debug */



/* #region utility */

.flex{
    display: flex;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.fixed{
    position: fixed;
}

/* #endregion utility */



/* #region common */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --dark-blue: rgb(20, 25, 34);
    --dark-gray: rgb(40, 40, 40);
    --gray: rgb(123, 125, 129);
    --light-gray: rgb(210, 210, 210);
    --green: rgb(177, 247, 46);
}

body{
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    height: 100vh;
}

.top-container{
    width: 100%;
    height: calc(100% - 90px);
}

.main-container{
    width: calc(100% - 250px);
    /* width: 100%; */
    padding-top: 90px;
    overflow: auto;
    scroll-behavior: auto;
}

.container{
    width: 95%;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
    text-align: center;
}

[class^="col-"]{
    padding: 0.5rem;
}

.col-2{
    width: calc((100% / 12) * 2);
}

/* #endregion common */



/* #region sidebar */

.sidebar{
    width: 250px;
    height: 100%;
    overflow: hidden;

    & .bottom-sidebar{
        bottom: 0;
    }
}

/* #endregion sidebar */



/* #region topbar */

.topbar{
    width: calc(100% - 250px);
    /* width: 100%; */
    height: 90px;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;

    & .upgrade{
        background-color: red;
        color: black;
        font-size: 16px;
    }
}

/* #endregion topbar */



/* #region main */

main{

    & .top-main ul{
        justify-content: center;
    }

    & img{
        width: 100%;
    }
}

/* #endregion main */







.toolbar{
    height: 90px;
    width: 100%;
    z-index: 1;
}